:root {
  --main-color: hsl(0, 0%, 15%);
  --secondary-color: hsl(0, 0%, 93%);
  --dark-color: hsl(0, 0%, 0%);

  --border-color: hsl(0, 0%, 0%);
  --border-color-light: hsl(0, 0%, 93%);

  --bg-color: hsl(0, 0%, 66%);
  --bg-color-dark: hsla(0, 0%, 44%, 0.4);
  --bg-color-light: hsla(0, 0%, 90%, 0.5);

  --overlay-color: hsla(0, 0%, 0%, 0.8);
  --shadow-color: hsla(0, 0%, 0%, 0.25);
  --shadow-color-2: hsla(0,0%,44%);

  --link-color-light: hsl(31,32%,66%);
  --link-color-dark: hsl(212,72%,26%);

  --extra-color: hsl(227, 11%, 45%);
  --extra-color-2: hsl(227, 11%, 65%);
  --extra-red: hsl(14,100%,50%);
  --extra-orange: hsl(35,100%,58%);
  --extra-ts: hsl(214,51%,33%);
  
  --accent-color: hsl(61, 80%, 52%);

  --sans-serif: 'Nunito', sans-serif;
  --serif: 'Lora', serif;
  --monospace: 'JetBrains Mono', monospace;

  --max-content-width: 1312px;
  --max-blog-post-width: 750px;

  --text-base-size: 1rem;

  --text-scale-ratio: 1.2;
  --text-xs: calc((1rem / var(--text-scale-ratio)) / var(--text-scale-ratio));
  --text-sm: calc(var(--text-xs) * var(--text-scale-ratio));
  --text-md: calc(var(--text-sm) * var(--text-scale-ratio));
  --text-lg: calc(var(--text-md) * var(--text-scale-ratio));
  --text-xl: calc(var(--text-lg) * var(--text-scale-ratio));
  --text-xxl: calc(var(--text-xl) * var(--text-scale-ratio));
}

@custom-media --small-viewport (min-width: 20rem);
@custom-media --medium-viewport (min-width: 42rem);
@custom-media --large-viewport (min-width: 66rem);
