.u-flex {
  display: flex;

  &-col {
    flex-direction: column;
  }
  &__item--auto {
    flex: 1 1 auto;
  }
  &-center {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.u-items {
  &-center {
    align-items: center;
  }
  &-end {
    align-items: flex-end;
  }
}
.u-justify {
  &-between {
    justify-content: space-between;
  }
  &-center {
    justify-content: center;
  }
}
