.u-m {
  &t {
    &--8 {
      margin-top: 0.5rem;
    }
    &--16 {
      margin-top: 1rem;
    }
  }
  &r--8 {
    margin-right: 0.5rem;
  }
  &l--8 {
    margin-left: 0.5rem;
  }
  &b--8 {
    margin-bottom: 0.5rem;
  }
  &b--4 {
    margin-bottom: 0.25rem;
  }
  &r--40 {
    margin-right: 2.5rem;
  }
}
.u-p {
  &x--1 {
    padding-left: 1px;
    padding-right: 1px;
  }
}
