.c-bottom-menu {
  position:fixed;
  bottom: 2px;
  width: 95%;
  left: 2.5%;
  background-color: var(--secondary-color);
  color: var(--main-color);
  border: 1px solid var(--border-color);
  border-radius: 6px;
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-around;

  @media (--medium-viewport) {
    display: none;
  }

  &__search-button {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__search-icon {
    fill: currentColor;
    &:hover {
      color: var(--bg-color);
    }
  }
}
