.c-header {
  color: var(--secondary-color);
  @media (--medium-viewport) {
    color: var(--main-color);
  }
  &__site-name {
    font-size: 20px;
    line-height: 1;
    color: var(--secondary-color);

    @media (--medium-viewport) {
      font-size: 24px;
      color: var(--main-color);
      &:visited {
        color: var(--main-color);
      }
    }
  }
  &__right-side {
    display: none;

    @media (--medium-viewport) {
      display: flex;
      align-items: center;
    }
  }
}

