.c-header {
  background-color: transparent;
  border-radius: none;
  color: var(--secondary-color);

  @media (--medium-viewport) {
    color: var(--main-color);
    box-shadow: 0px 4px 16px 8px hsla(0, 0%, 0%, 0.3);
    padding: 0.5rem 1rem;
    background: var(--secondary-color);
    max-width: 1280px;
    margin: 0 auto;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__site-name {
    font-size: 20px;
    line-height: 1;
    color: var(--secondary-color);

    @media (--medium-viewport) {
      font-size: 24px;
      color: var(--main-color);
      &:visited {
        color: var(--main-color);
      }
    }
  }
  &__right-side {
    display: none;

    @media (--medium-viewport) {
      display: flex;
      align-items: center;
    }
  }
}


.u-header-hidden {
  animation-name: hide;
  animation-duration: 400ms;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}
.u-header-show {
  animation-name: show;
  animation-duration: 400ms;
  animation-timing-function: ease;
}

@keyframes show {
  0% {
    opacity: 0;
    transform: translateY(-100px);
  }
  100% {
    transform: 0;
  }
}

@keyframes hide {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(-100px);
  }
}

