.c-lang-nav{
  margin-left: 1rem;
  &__link {
    &:any-link {
      color: var(--secondary-color);
      @media(--medium-viewport) {
        color: var(--main-color);
      }
    }
    &:hover {
      border-bottom: 2px solid var(--secondary-color);
      @media(--medium-viewport) {
        border-bottom: 2px solid var(--border-color);
      }
    }
  }
}
