.c-not-found{
  margin-top: 3rem;
  margin-left: auto;
  margin-right: auto;
  font-family: var(--monospace);
  overflow: hidden;
  position: relative;
  width: 100%;

  &__title {
    width: 100%;
    margin-bottom: 4rem;
    display: flex;
    justify-content: space-between;
    &:nth-of-type(even) {
      color: var(--accent-color);
    }
  }
  &__phrase {
    font-family: var(--monospace);
    white-space: nowrap;
    font-size: 2rem;
    &:not(:first-of-type) {
      margin-left: 1rem;
    }
  }
}

.c-404 {
  font-size: 4rem;
  &--xl {
    font-size: 6rem;
  }
}
