.c-project-card {
  &__description {
    margin-top: 0.5rem;
  }
  &__link {
    color: var(--secondary-color);
    &:any {
      color: var(--secondary-color);
    }
  }
  &__title {

  }
  &__description {

  }
}

