.c-project-card {
  &__description {
    margin-top: 0.5rem;
  }
  &__link {
    color: var(--secondary-color);
    &:any {
      color: var(--secondary-color);
    }
  }
  &__title {

  }
  &__description {

  }
  &__repo {
    background: transparent;
    text-decoration: none;
    border:none;
    &:hover {
      background: transparent;
      text-decoration: none;
      border:none;
    }
  }
}

