.c-project-summary{
  display: flex;
  padding: 1rem;
  background: var(--bg-color-dark);
  border-radius: 6px;
  &:hover {
    box-shadow: 4px 4px 0px var(--shadow-color-2);
  }
  &__meta {
    margin-left: 2rem;
  }
  &__title {
    margin-top: 0;
    background: linear-gradient(to right, var(--dark-color), var(--dark-color));
    background-repeat: no-repeat;
    background-size: 0%;
    background-position: left;
    transition: background-size 0.5s ease;
  }
  &__link {
    color: var(--secondary-color);
    &:visited {
      color: var(--secondary-color);
    }
    &:hover .c-project-summary__title {
      background-size: 100%;
    }
    &:hover ~ .c-project-summary__meta .c-project-summary__title {
      background-size: 100%;
    }
  }
  &__app-link {
    font-weight: bold;
    color: var(--accent-color);
    &:any-link {
      color: var(--accent-color);
    }
    &:hover {
      text-decoration: underline;
    }
  }

  &__repo {
    display: inline-flex;
    color: var(--link-color-light);
    &:any-link {
      color: var(--link-color-light);
    }
    &:hover {
      text-decoration: underline;
    }
  }

  &__description {
    text-decoration: none;
    margin-top: 0.5rem;
  }
  &__image-wrapper {
    min-width: 150px;
    min-height: 150px;
  }
}

.c-project-summary-li:not(:first-of-type) {
  margin-top: 1.5rem;
}
