.c-tech-stack {
  &__list {
    margin: 0.5rem 0;
  }
  &__link {
    color: var(--secondary-color);
    border:none;
    &:any {
      color: var(--secondary-color);
    }
    &:hover {
      background: none;
      text-decoration: underline;
      border: none;
    }
  }

  &__item {
    display: inline-block;
    padding: 0.3rem;
    border-radius: 6px;
    background-color: var(--extra-color);
    &:not(:first-of-type) {
      margin-left: 0.5rem;
    }


    &--html {
      background: var(--extra-html);
    }
    &--js,
    &--javascript {
      background: var(--extra-yellow);
      & * {
        color: black !important;
      }
    }
    &--css {
      background: var(--extra-blue);
    }
    &--svelte {
      background-color: var(--extra-red) !important;
    }
    &--firebase {
      background-color: var(--extra-orange) !important;
      & * {
        color: black !important;
      }
    }
    &--typescript,
    &--ts{
      background-color: var(--extra-ts) !important;
    }
    &--routify {
      background-color: var(--extra-routify) !important;
    }
  }
}
