.c-weather{
  display: flex;
  align-items: center;
  margin-top: 1rem;
  &__button {
    height: 64px;
    cursor: pointer;
    background: var(--bg-color-dark);
    border: none;
    border-radius: 6px;
    padding: .5rem 0.7rem;
    color: var(--color-secondary);
    &:hover {
      background: var(--bg-color-light);
    }
  }
  &__status {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    text-align: center;
  }
  @media (--medium-viewport) {
    margin-top: 0rem;
  }
}
.svg-sun {
  stroke: currentColor;
  color: var(--secondary-color);
  display: none;
}
.svg-sun path {
  fill: currentColor;
  color: var(--secondary-color);
}
.svg-sun-cloud {
  stroke: currentColor;
  color: var(--secondary-color);
  display: none;
}

.svg-rain-cloud {
  stroke: currentColor;
  color: var(--secondary-color);
  display: none;
}

.svg-cloud {
  stroke: currentColor;
  color: var(--secondary-color);
  display: none;
}

.svg-snowflake {
  stroke: currentColor;
  color: var(--secondary-color);
  display: none;
}

.svg--active {
  display: block;
}
