.c-weather{
  display: flex;
  &__button {
    cursor: pointer;
    background: var(--bg-color-dark);
    border: none;
    border-radius: 6px;
    padding: .5rem 0.7rem;
    color: var(--color-secondary);
    &:hover {
      background: var(--bg-color-light);
    }
  }
}
.svg-sun {
  stroke: currentColor;
  color: var(--secondary-color);
  display: none;
}
.svg-sun path {
  fill: currentColor;
  color: var(--secondary-color);
}
.svg-sun-cloud {
  stroke: currentColor;
  color: var(--secondary-color);
  display: none;
}

.svg-rain-cloud {
  stroke: currentColor;
  color: var(--secondary-color);
  display: none;
}

.svg-cloud {
  stroke: currentColor;
  color: var(--secondary-color);
  display: none;
}

.svg-snowflake {
  stroke: currentColor;
  color: var(--secondary-color);
  display: none;
}

.svg--active {
  display: block;
}
