<li class="u-px--1 c-blog-card-li swiper-slide">
  <article class="c-blog-card">
    <a href={{.Permalink}} class="c-blog-card__link">
      <div class="o-image-wrapper">
        <div class="o-image-wrapper__picture">
          {{$image := .Resources.GetMatch "preview.{jpg,png}"}}
          {{with $image}}
            {{$small := .Resize "480x"}}
            {{$medium := .Resize "600x"}}
            <img class="o-image-wrapper__image" srcset="{{$small.Permalink}} 480w, {{$medium.Permalink}} 672w" src="{{$medium.Permalink}}" alt="image for {{$.Title}} project" />
          {{end}}
        </div>
      </div>
      <h3 class="c-blog-card__title">{{.Title}}</h3>
      <time class="c-blog-card__time" datetime="{{.Date.Format "2006-02-01"}}">{{.Date.Format "2006-02-01"}}</time>
  </article>
    </a>
</li>
