<head>
  <meta charset="UTF-8">
  <title>{{ .Site.Title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta name="description" content="{{if .IsHome}}{{ .Site.Params.description }}{{else}}{{.Description}}{{end}}" />

  <meta name="theme-color" content="#333333">

  <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600&family=Lora:wght@500;700&display=swap" rel="stylesheet">
  {{partial "fonts.html"}}

  <meta property="og:title" content="{{ if not .IsHome }}{{with .Title }}{{ . }}{{ end }}{{else}}{{ .Site.Title }}{{end}}" />
  <meta property="og:description" content="{{if .IsHome}}{{ .Site.Params.description }}{{else}}{{.Description}}{{end}}" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="{{.Page.Permalink}}" />
  <meta itemprop="name" content="{{ if not .IsHome }}{{with .Title }}{{ . }}{{ end }}{{else}}{{ .Site.Title }}{{end}}">
  <meta itemprop="description" content="{{if .IsHome}}{{ .Site.Params.description }}{{else}}{{.Description}}{{end}}">
  <meta name="twitter:card" content="summary"/>
  <meta name="twitter:title" content="{{ if not .IsHome }}{{with .Title }}{{ . }}{{ end }}{{else}}{{ .Site.Title }}{{end}}"/>
  <meta name="twitter:description" content="{{if .IsHome}}{{ .Site.Params.description }}{{else}}{{.Description}}{{end}}"/>

  <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="favicon-32.png">

  {{ $.Site.Params.FontAwesomeKit | safeHTML }}

  {{if .Page.IsHome}}
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
  {{end}}

  {{ $jsBundleOpts := dict "minify" true}}
  {{ if .Site.IsServer }}
    {{ $style := resources.Get "css/style.css" | postCSS (dict "config" "./postcss.config.js") | fingerprint }}
    <link rel="stylesheet" href="{{ $style.RelPermalink }}" crossorigin="anonymous">

    {{if .Page.IsHome}}
      {{ $js := resources.Get "js/main.ts" | js.Build }}
      <script defer src="{{$js.RelPermalink}}"></script>
    {{end}}

    {{ $js := resources.Get "js/search.ts" | js.Build }}
    <script defer src="{{$js.RelPermalink}}"></script>
    {{$search := resources.Get "js/search-element.ts" | js.Build}}
    <script type="module" src="{{$search.RelPermalink}}"></script>

  {{ else }}
    {{ $style := resources.Get "css/style.css" | postCSS (dict "config" "./postcss.config.js")  | minify | fingerprint }}
    <link rel="stylesheet" href="{{ $style.RelPermalink }}" integrity="{{ $style.Data.Integrity }}">

    {{if .Page.IsHome}}
      {{ $js := resources.Get "js/main.ts" | js.Build $jsBundleOpts }}
      <script defer src="{{$js.RelPermalink}}"></script>
    {{end}}

    {{ $js := resources.Get "js/search.ts" | js.Build $jsBundleOpts }}
    <script defer src="{{$js.RelPermalink}}"></script>
    {{$search := resources.Get "js/search-element.ts" | js.Build $jsBundleOpts}}
    <script type="module" src="{{$search.RelPermalink}}"></script>
  {{ end }}


</head>
