{{define "header"}}
  <header class="c-header">
    {{if .Page.IsHome}}
      <span href="/" class="c-header__site-name">{{.Site.Title}}</span>
    {{else}}
      <a href="/" class="c-header__site-name">{{.Site.Title}}</a>
    {{end}}
    <div class="c-header__right-side">
      <button class="c-icon-button js-search-button">
        {{partial "svg/search-24px.svg"}}
      </button>
      {{ $currentPage := . }}
      <ul class="c-menu">
        {{ range .Site.Menus.global }}
          <li class="c-menu__item" role="menuitem">
            <a href="{{ .URL }}" class="c-menu__link {{ if $currentPage.IsMenuCurrent "global" . }} current {{else}} no-current {{ end }}">
              {{ .Name }}
            </a>
          </li>
        {{ end }}
      </ul>
    </div>
  </header>
{{end}}
