{{ define "main" }}
  <div class="c-not-found">
    <div class="c-not-found__title js-not-found">
      <span class="c-not-found__phrase">{{i18n "page_not_found"}}</span>
      <span class="c-not-found__phrase">{{i18n "page_not_found"}}</span>
      <span class="c-not-found__phrase">{{i18n "page_not_found"}}</span>
    </div>
    <div class="c-not-found__title js-not-found">
      <span class="c-not-found__phrase">{{i18n "page_not_found"}}</span>
      <span class="c-not-found__phrase">{{i18n "page_not_found"}}</span>
      <span class="c-not-found__phrase">{{i18n "page_not_found"}}</span>
    </div>
    <div class="c-not-found__title js-not-found">
      <span class="c-not-found__phrase">{{i18n "page_not_found"}}</span>
      <span class="c-not-found__phrase">{{i18n "page_not_found"}}</span>
      <span class="c-not-found__phrase">{{i18n "page_not_found"}}</span>
    </div>
    <div class="c-not-found__title js-not-found">
      <span class="c-not-found__phrase">{{i18n "page_not_found"}}</span>
      <span class="c-not-found__phrase">{{i18n "page_not_found"}}</span>
      <span class="c-not-found__phrase">{{i18n "page_not_found"}}</span>
    </div>
    <div class="c-not-found__title js-not-found">
      <span class="c-not-found__phrase">{{i18n "page_not_found"}}</span>
      <span class="c-not-found__phrase">{{i18n "page_not_found"}}</span>
      <span class="c-not-found__phrase">{{i18n "page_not_found"}}</span>
    </div>
    <div class="c-not-found__title js-not-found">
      <span class="c-not-found__phrase">{{i18n "page_not_found"}}</span>
      <span class="c-not-found__phrase">{{i18n "page_not_found"}}</span>
      <span class="c-not-found__phrase">{{i18n "page_not_found"}}</span>
    </div>
    <div class="c-not-found__title js-not-found">
      <span class="c-not-found__phrase">{{i18n "page_not_found"}}</span>
      <span class="c-not-found__phrase">{{i18n "page_not_found"}}</span>
      <span class="c-not-found__phrase">{{i18n "page_not_found"}}</span>
    </div>
  </div>
{{ end }}
