{{ define "main" }}
  <main aria-role="main">
    <div class="c-hero">
      <h1 class="">
        Добро пожаловать на мой сайт
      </h1>
      <p>
        Здесь вы найдете мои проекты и мой блог
      </p>
    </div>
    <section class="c-site-section">
      <h2 class="c-site-section__title">Последние проекты</h2>
      <ul>
        {{$projectsPages := where .Site.RegularPages "Section" "projects"}}
        {{ range $projectsPages }}
          {{ .Render "li"}}
        {{ end }}
      </ul>
    </section>
    <section class="c-site-section">
      <div class="u-flex u-items-end">
        <h2 class="c-site-section__title">Последние посты</h2>
        {{range .Site.Menus.global}}
          {{if eq .Name "blog"}}
            {{$.Scratch.Set "blog_path" .URL}}
          {{end}}
        {{end}}
        <a class="c-site-section__link" href="{{$.Scratch.Get "blog_path"}}">all</a>
      </div>
      <ul class="c-site-section__list c-site-section__list--mobile">
        {{$postsPages := where .Site.RegularPages "Section" "posts"}}
        {{ range first 6 $postsPages }}
          {{ .Render "li"}}
        {{ end }}
      </ul>
      <div class="c-site-section__slider-wrapper">
        <button aria-label="previous post" type="button" class="c-slider-button c-slider-button--prev">
          {{partial "svg/arrow_forward_ios-24px.svg"}}
        </button>
        <div class="c-site-section__list c-site-section__list--desktop swiper-container">
          <ul class="swiper-wrapper">
            {{$postsPages := where .Site.RegularPages "Section" "posts"}}
            {{ range first 6 $postsPages }}
              {{ .Render "li"}}
            {{ end }}
          </ul>
        </div>
        <button aria-label="next post" type="button" class="c-slider-button--next c-slider-button">
          {{partial "svg/arrow_forward_ios-24px.svg"}}
        </button>
      </div>
    </section>
  </main>
{{ end }}
